Q1. What is a database? Differentiate between SQL and NoSQL databases.
Ans:Database is a repository of data.It is a shared collection of intereled data and metadata designed to meet the varried information needs of an organizations.
SQL:-
1.It is a relational database management system.
2.The databases are fixed or predefined schema.
3.These databases are suitable for complex quaries.
4.It is vertically scalable.
5.Exp-MySQL

NoSQL:-
1.It is a non-relational or distributed database system.
2.They have dynamic schema.
3.These databases are not suitable for the complex quaries.
4.It is Horizontaly scalable.
5.Exp-MongoDB

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans:DDL stands for Data Defination Language.

1.Create:Create table used to create a new table.On of the simples forms of this command is where the basic information for each column is defined, together with their dtatypes ans sizes.

2.Drop:The DROP Command drops the complete table from the database.

3.ALTER:The ALTER TABLE statement is used to add, delete, or modify columns in an existing table.

4.Truncate:TRUNCATE TABLE removes all rows from a table, but the table structure and its columns, constraints, indexes, and so on remain.

Q3.What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans:DML stands for Data Manipulation Language.
1.Insert:Insert command is used to insert the values in a table.
2.Update:An SQL UPDATE statement changes the data of one or more records in a table. Either all the rows can be updated, or a subset may be chosen using a condition. The UPDATE statement has the following form: UPDATE table_name SET column_name = value [, column_name = value ...]
3.Delete:Delete command is a data manipulation command which is used to remove records from a table. All records may be removed in one go, or a set of records may be deleted based on a condition.

Q4. What is DQL? Explain SELECT with an example.
Ans:DQL stands for Data Query Language.Select is a command which is used to retrive the data from the database.For example if we want to retrive all the column from the data base then we can use "select * from [table_name]"

Q5. Explain Primary Key and Foreign Key.
Ans:Primary Key:Primary is a candidate key which is used to uniquely identify a column or a set of column.. Primary keys must contain UNIQUE values, and cannot contain NULL values. A table can have only ONE primary key; and in the table, this primary key can consist of single or multiple columns (fields).
Foreign Key:Foreign key is a candidate key which is used as a reference between two or more table.A FOREIGN KEY is a field (or collection of fields) in one table, that refers to the PRIMARY KEY in another table. The table with the foreign key is called the child table, and the table with the primary key is called the referenced or parent table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans:
python code to connect MySQL

import mysql.connector
mydb=mysql.connceter.connect(
host="localhost",
user="abc"
password="password"
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE")
mydb.close()

Cursor():-Cursor class is an instance using which you can invoke methods that execute SQLite statements, fetch data from the result sets of the queries. You can create Cursor object using the cursor() method of the Connection object/class.

execute():-execute() function is used for the dynamic execution of Python programs which can either be a string or object code. If it is a string, the string is parsed as a suite of Python statements which is then executed unless a syntax error occurs and if it is an object code, it is simply executed.

Q7-Give the order of execution of SQL clauses in an SQL query.
Ans:Order of Execution
FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.
WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.
GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.